<ul class="nav menu">
    <li><a href="../Attendance/index"><span class="glyphicon glyphicon-th"></span> 考勤管理</a></li>
    <li><a href="../Class/index"><span class="glyphicon glyphicon-th"></span> 课程情况管理</a></li>
    <li><a href="../Course/index"><span class="glyphicon glyphicon-list-alt"></span> 课程管理</a></li>
    <li class="active"><a href="../Student/index"><span class="glyphicon glyphicon-pencil"></span> 学生管理</a></li>
    <li><a href="../Teacher/index"><span class="glyphicon glyphicon-pencil"></span> 教师管理</a></li>
    <li role="presentation" class="divider"></li>
</ul>