<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lumino - Dashboard</title>

    <link href="{$res_path}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{$res_path}/css/datepicker3.css" rel="stylesheet">
    <link href="{$res_path}/css/bootstrap-table.css" rel="stylesheet">
    <link href="{$res_path}/css/styles.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="{$res_path}/js/html5shiv.js"></script>
    <script src="{$res_path}//respond.min.js"></script>
    <![endif]-->

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <include file="Public/header" />
        </div>
    </div><!-- /.container-fluid -->
</nav>

<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <form role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
    </form>
    <!--包括导航栏-->
    <include file="Public/navigation" />
</div><!--/.sidebar-->

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
            <li class="active">出勤率查询</li>
        </ol>
    </div><!--/.row-->

    <ul class="nav nav-pills" role="tablist">
        <li role="presentation"><a href="../Attendance/studentQuery">学生查询</a></li>
        <li role="presentation"><a href="../Attendance/courseQuery">课程查询</a></li>
        <li role="presentation" class="active"><a href="../Attendance/countryQuery">国籍查询</a></li>
    </ul>
    <div style="padding: 15px"></div>

    <div class="panel panel-info">
        <div class="panel-heading">到 课 率 查 询</div>
        <div class="panel-body">
            <form class="form-horizontal"  enctype="multipart/form-data">

                <div class="form-group">
                    <label  class="col-lg-1 col-lg-offset-1 col-sm-3 control-label">国 家</label>
                    <div class="col-lg-2">
                        <input type="text" class="form-control" placeholder="请输入国家"  id="sid" name="sid" >
                    </div>

                    <button type="button" class="btn btn-primary" >查 询</button>
                    <button type="button" class="btn btn-primary">全 部 查 询</button>
                </div>

            </form>
            <table id="table" data-toggle="table" data-url=""  data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
                <thead>
                <tr>
                    <th data-field="state" data-checkbox="true" >Item ID</th>
                    <th data-field="id" data-sortable="true">学 号</th>
                    <th data-field="name">姓 名</th>
                    <th data-field="teacher_name">课程号</th>
                    <th data-field="teacher_id">课程名</th>
                    <th data-field="attendance">该课到课率</th>
                    <th data-field="attendance">总到课率</th>
                </tr>
                </thead>
                <tbody id="tbody">

                </tbody>
            </table>
        </div>
    </div>


</div>


<script src="{$res_path}/js/jquery-1.11.1.min.js"></script>
<script src="{$res_path}/js/bootstrap.min.js"></script>
<script src="{$res_path}/js/bootstrap-table.js"></script>
<script src="{$res_path}/js/locale/bootstrap-table-zh-CN.js"></script>
<script>
    var $remove = $('#remove');
    var $table = $('#table');
    $table.on('check.bs.table uncheck.bs.table ' +
            'check-all.bs.table uncheck-all.bs.table', function () {
        $remove.prop('disabled', !$table.bootstrapTable('getSelections').length);
        // save your data, here just save the current page
        selections = getIdSelections();
        // push or splice the selections if you want to save all data selections
    });

    function getIdSelections() {
        return $.map($table.bootstrapTable('getSelections'), function (row) {
            return row.id
        });
    }


</script>
</body>
</html>